# kbelleau - .nanorc - served
# configured on nano version 8.1

# syntax highlighting
include "/usr/share/nano/*.nanorc"

set tabstospaces
set tabsize 2
set unix              # unix line endings
set constantshow      # always show status bar
set cutfromcursor     # CTRL+K begins at cursor
set autoindent
unset breaklonglines  # no line wrapping

# keybindings
bind ^F forward main
bind ^B back main
bind M-F nextword main
bind M-B prevword main
bind M-U undo main
bind M-Z redo main
bind M-C cut main
bind ^Y paste main
bind ^C copy main
bind ^Space mark main
bind M-E nextblock main
bind M-A prevblock main
bind ^V pageup main
bind M-V pagedown main